package-manager=pnpm@9
auto-install-peers=true
strict-peer-dependencies=false
save-workspace-protocol=rolling
engine-strict=true
resolution-mode=highest
node-linker=hoisted
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=*trpc*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
